modules = ["nodejs-20", "web"]
run = "npm run start:dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:dev"]

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = 32604544
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm run start:dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 32604544
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Start Full Stack"
author = 32604544
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run start:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
